# General ignores
**/__pycache__/
**/*.py[cod]
**/*.log
**/*.sqlite3
**/.DS_Store

# Env and secrets
**/.env
**/.env.*

# IDE settings
**/.vscode
**/.idea

# Node dependencies and builds
frontend/node_modules
frontend/dist
frontend/dist-ssr

# Optional: Fly config
fly.toml
